<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
# Exercise 1: Create a Jupyter NoteBook

"""
Create a new Jupyter notebook called DataScienceEcosystem.ipynb

Note: The next item in the course will launch JupyterLite with an empty notebook with this name that you can use to complete rest of the Exercises. 
You can also use any other Jupyter notebook environment (e.g. Anaconda) that you prefer to complete the assignment.
"""

In [ ]:
# Excercise 2: Create a markdown cell with a title of the notebook

# Data Science Tools and Ecosytem

In [ ]:
#Exercise 3 Create a markdown cell for an introduction

#### In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Exercise 10 - Insert a markdown cell to list Objectives

##### **Objectives:**
- Create a markdown cell with the title of the notebook
- Create a list of popular languages for Data Science
- Create a list of popular tools for Data Science
- Create a code cell to multiply and add numbers
- Create a code cell to convert minutes to hours

In [ ]:
# Exercise 4 - Create a markdown cell to list data science languages

#### Some of the popular languages that Data Scientists use are:
1. First Python
2. Second R
3. Third SQL
4. Fourth Julia

In [ ]:
# Exercise 5 - Create a markdown cell to list data science libraries

#### Some of the commonly used libraries used by Data Scientists include:
1. SciPy
2. Sklearn
3. Pandas
4. Matplotlib

In [ ]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| -------------|
| R Studios |
| Apache Spark |
| Tensor Flow |

In [ ]:
# Exercise 7 - Create a markdown cell with a table of Data Science tools

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
200/60

3.3333333333333335

In [ ]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author: Avery Smart